* {
  font-family: sans-serif;
  padding: 8px;
}

li {
  padding: 4px;
}

input {
  appearance: none;
  -webkit-appearance:none;
  }

label {
  transition:all, 150ms;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
}

label:hover {
  background-color: skyblue;
  color: black;
}